<app-header title="Leaderboard"></app-header>

<ion-content>
  <ng-container *ngIf="points$ | async as points">
    <ion-card class="ion-margin">
      <ion-card-header>
        <ion-card-title>Leaderboard </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="full">
          <ion-item *ngFor="let points of points.gamePoints; let i = index">
            <ion-label> {{i+1}}. {{points.user.username}}</ion-label>
            <ion-label class="ion-text-end">{{points.points}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
