<app-header title="About"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Authors:</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Szymon Wałach</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Dawid Jurczak</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Aleksander Goli</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Szymon Piotrowski</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Krzysztof Piwowar</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
