<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="game">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Game</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="leaderboard">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Leaderboard</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
