<ion-content class="ion-padding">
  <div class="content-center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="ion-text-center">TRACKER</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p class="ion-text-center">Login into your Tracker app</p>
        </ion-col>
      </ion-row>

      <form>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item color="light">
                <ion-label position="floating">Email</ion-label>
                <ion-input placeholder="Enter email" required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item color="light">
                <ion-label position="floating">Password</ion-label>
                <ion-input placeholder="Enter password" required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" form expand="block" color="dark"
                >Login</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-grid>
  </div>
</ion-content>
